{% load static %}

<section class="dashboard-block main-block-min-width">
    <div class="dashboard-block-element min-height-30vh">
        <div class="dashboard-block-element-title">
            <h2>BON PLAN PARTAGE PAR {{ deal.created_by|upper }}</h2>
        </div>
        <div class="dashboard-block-element-content flex-wrap">
        <div class="capsule width-25 margin-bottom-1rem">
            {% if deal.bluray.bluray_image %}
                <div class="capsule-image" style="background-image: url({{ deal.bluray.bluray_image.url }});">
            {% else %}
                <div class="capsule-image" style="background-image: url({% static 'img/nopic.jpg' %});">
            {% endif %}
                <a href="{{ deal.bluray.amazon_aff_link }}" target="_blank">
                    <p class="deal-price {% if deal.status != '1' %}inactif{% endif %}">
                    {{ deal.price }}€
                    </p>
                </a>
            </div>
            <div class="capsule-text">
                <a href="{% url 'deals:deals_detail' pk=deal.pk %}">
                    {% if deal.bluray.title %}
                        <h2>{{ deal.bluray.title|truncatechars:18 }}</h2>
                    {% else %}
                        <h2>{{ deal.bluray.movie|truncatechars:18 }}</h2>
                    {% endif %}
                    {% if deal.bluray.uhd %}
                        <p><img src="{% static 'img/logo-4k.png' %}" alt="Logo Blu-Ray 4K" width="100px"></p>
                    {% endif %}
                    <p>Posté le {{ deal.date_created|date:"d/m/Y" }}</p>
                </a>
            </div>
        </div>
        </div>
    </div>
</section>