{% load static %}

    <section class="dashboard-block side-block-min-width">
    {% include "deals/ihaveadeal-snippet.html" %}
        <div class="dashboard-block-element min-height-20vh padding-1rem">
            <p><h2>{{ deal.blu_ray.movie }}</h2></p>
            <p>{{ deal.blu_ray.movie.release_year }}</p>
            <p>Un film de {% for director in deal.blu_ray.movie.directors %}
                <a href="{% url 'people:people_detail' slug=director.slug pk=director.pk %}">{{ director }}</a> {% endfor %}</p>
            <p>Avec {% for actor in deal.blu_ray.movie.actors %}
                <a href="{% url 'people:people_detail' slug=actor.slug pk=actor.pk %}">{{ actor }}</a> {% endfor %}</p>
        </div>
        <div class="dashboard-block-element min-height-20vh"></div>
        <div class="dashboard-block-element min-height-20vh"></div>
    </section>