{% load static %}

<div class="dashboard-block-element min-height-20vh justify-content-center">
    <div class="dashboard-block-element-title">
        <h2>VOS BONS PLANS</h2>
    </div>
    <div class="dashboard-block-element-content flex-column">
    {% for deal in user_deals %}
    <div class="capsule align-items-center flex-column width-100">
        {% if deal.bluray.bluray_image %}
        <div class="capsule-image" style="background-image: url({{ deal.bluray.bluray_image.url }});">
        {% else %}
        <div class="capsule-image" style="background-image: url({% static 'img/nopic.jpg' %});">
        {% endif %}
            <div class="favorite-wrapper">
                <div class="favorite" onclick="favorite('deal_bluray_{{ deal.bluray.pk }}',{{ deal.bluray.pk }}, 'bluray')" id="deal_bluray_{{ deal.bluray.pk }}">
                    <svg class="favorite-svg-heart {% if deal.bluray in user_favorite_blurays %}press{% endif %}" viewBox="0 0 24 24">
                      <path id="heart" d="M12 4.435c-1.989-5.399-12-4.597-12 3.568 0 4.068 3.06 9.481 12 14.997 8.94-5.516 12-10.929 12-14.997 0-8.118-10-8.999-12-3.568z" />
                    </svg>
                </div>
            </div>
        </div>
        <div class="capsule-text text-align-center">
            <a href="{% url 'deals:deals_detail' pk=deal.pk %}">
                {% if deal.bluray.title %}
                    <h2 class="justify-content-center">{{ deal.bluray.title|truncatechars:90 }}</h2>
                {% else %}
                    <h2 class="justify-content-center">{{ deal.bluray.movie|truncatechars:90 }}</h2>
                {% endif %}
            </a>
        </div>
    </div>
    {% empty %}
        <p class="text-align-center">Vous n'avez posté aucun bon plan.</p>
    {% endfor %}
    </div>
</div>