<div class="dashboard-block-element min-height-20vh justify-content-center padding-1rem">
    <h2>Suggérer une personne</h2>
    <form method="post" action="{% url 'user_requests:people_request_create' %}">
        {% csrf_token %}
            {% for field in people_request_form %}
                    {% if forloop.counter >= 2 %}{{ field.as_hidden }}{% else %}
                    <div class="capsule">
                        <div class="capsule-text width-100">
                        <p>{{ field.label_tag }}</p>
                        <p>{{ field }}</p>
                            {% if field.errors %}
                                {% for error in field.errors %}
                                    <p class="errorlist">{{ error }}</p>
                                {% endfor %}
                            {% endif %}
                            {% if messages %}
                                {% for message in messages %}
                                    {% if message.level != DEFAULT_MESSAGE_LEVELS.INFO %}
                                        <p class="errorlist">{{ message }}</p>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
            {% endfor %}
        <button type="submit" name="form" class="btn btn-submit">J'envoie ma suggestion</button>
    </form>
</div>