{% load static %}

<section class="dashboard-block main-block-min-width">
    <ul>
        <a class="margin-1rem" href="{% url 'user_requests:user_requests' pk=request.user.pk %}?filter=1+2+3+4">
            <li >Toutes vos demandes</li>
        </a>
        <a class="margin-1rem" href="{% url 'user_requests:user_requests' pk=request.user.pk %}?filter=1">
            <li>Seulement les demandes en-cours</li>
        </a>
        <a class="margin-1rem" href="{% url 'user_requests:user_requests' pk=request.user.pk %}?filter=2">
            <li>Seulement les demandes acceptées</li>
        </a>
        <a class="margin-1rem" href="{% url 'user_requests:user_requests' pk=request.user.pk %}?filter=3">
            <li>Seulement les demandes refusées</li>
        </a>
    </ul>
    <div class="dashboard-block-element padding-1rem">
        {% if user_requests_deals %}
        <div class="dashboard-block-element-title">
            <h2>VOS DEMANDES D'AJOUTS DE BONS PLANS ({{ user_requests_deals|length }})</h2>
        </div>
         <div class="dashboard-block-element-content justify-content-center flex-wrap">
            {% for request in user_requests_deals %}
                {% if request.deal %}
                    <div class="capsule justify-content-center width-100 {% cycle '' 'background-grey' %}">
                        <div class="capsule-text width-100">
                            <ul class="justify-content-center">
                                <li class="requests-list">
                                    {% if request.deal.pk %}
                                    Votre bon plan pour
                                    <a href="{% url 'deals:deals_detail' pk=request.deal.pk %}">
                                    {% endif %}
                                        <h2>{{ request.deal.bluray }}</h2>
                                    </a> a bien été enregistré suite à votre demande du {{ request.date_created|date:"d/m/Y" }}.
                                </li>
                            </ul>
                        </div>
                    </div>
                {% else %}
                    <div class="capsule justify-content-center width-100 {% cycle '' 'background-grey' %}">
                        <div class="capsule-text width-100">
                            <ul class="justify-content-center">
                                <li class="requests-list">Votre proposition de bon plan du {{ request.date_created|date:"d/m/Y" }} a le statut
                                    <span class="margin-1rem cursor-default btn {% if request.status == '1' %}btn-submit{% endif %}{% if request.status == '2' %}btn-validated{% endif %}{% if request.status == '3' %}btn-delete{% endif %}{% if request.status == '4' %}btn-unknown{% endif %}">
                                        {{ request.get_status_display }}
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% else %}
        <div class="capsule justify-content-center margin-auto">
            <h2>Aucune demande de bon plan trouvée.</h2>
        </div>
        {% endif %}
    </div>

    <div class="dashboard-block-element padding-1rem">
        {% if user_requests_blurays %}
        <div class="dashboard-block-element-title">
            <h2>VOS DEMANDES D'AJOUTS DE BLU-RAYS ({{ user_requests_blurays|length }})</h2>
        </div>
        <div class="dashboard-block-element-content justify-content-center flex-wrap">
            {% for request in user_requests_blurays %}
                {% if request.bluray %}
                    <div class="capsule justify-content-center width-100 {% cycle '' 'background-grey' %}">
                        <div class="capsule-text width-100">
                            <ul class="justify-content-center">
                                <li class="requests-list">
                                    {% if request.bluray.slug %}
                                    <a href="{% url 'blurays:blurays_detail' slug=request.bluray.slug pk=request.bluray.pk %}">
                                    {% endif %}
                                        <h2>{{ request.bluray }}</h2>
                                    </a> a bien été enregistré suite à votre demande du {{ request.date_created|date:"d/m/Y" }}.
                                </li>
                            </ul>
                        </div>
                    </div>
                {% else %}
                    <div class="capsule justify-content-center width-100 {% cycle '' 'background-grey' %}">
                        <div class="capsule-text width-100">
                            <ul class="justify-content-center">
                                <li class="requests-list">Votre demande d'ajout du {{ request.date_created|date:"d/m/Y" }} pour le blu-ray ayant l'identifiant Amazon
                                    <a href="{{ request.amazon_link }}" target="_blank"><span>{{ request.asin }}</span></a>a le statut
                                    <span class="margin-1rem cursor-default btn {% if request.status == '1' %}btn-submit{% endif %}{% if request.status == '2' %}btn-validated{% endif %}{% if request.status == '3' %}btn-delete{% endif %}{% if request.status == '4' %}btn-unknown{% endif %}">
                                        {{ request.get_status_display }}
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% else %}
        <div class="capsule justify-content-center margin-auto">
            <h2>Aucune demande de blu-ray trouvée.</h2>
        </div>
        {% endif %}
    </div>

    <div class="dashboard-block-element padding-1rem">
    {% if user_requests_movies %}
        <div class="dashboard-block-element-title">
            <h2>VOS DEMANDES D'AJOUTS DE FILMS ({{ user_requests_movies|length }})</h2>
        </div>
        <div class="dashboard-block-element-content justify-content-center flex-wrap">
            {% for request in user_requests_movies %}
                {% if request.movie %}
                    <div class="capsule justify-content-center width-100 {% cycle '' 'background-grey' %}">
                        <div class="capsule-text width-100">
                            <ul class="justify-content-center">
                                <li class="requests-list">
                                    {% if request.movie.slug %}
                                    <a href="{% url 'movies:movies_detail' slug=request.movie.slug pk=request.movie.pk %}">
                                    {% endif %}
                                        <h2>{{ request.movie }}</h2>
                                    </a> a bien été enregistré suite à votre demande du {{ request.date_created|date:"d/m/Y" }}.
                                </li>
                            </ul>
                        </div>
                    </div>
                {% else %}
                    <div class="capsule justify-content-center width-100 {% cycle '' 'background-grey' %}">
                        <div class="capsule-text width-100">
                            <ul class="justify-content-center">
                                <li class="requests-list">Votre demande d'ajout du {{ request.date_created|date:"d/m/Y" }} pour le film ayant l'identifiant IMDB
                                    <a href="{{ request.imdb_link }}" target="_blank"><span>{{ request.imdb_id }}</span></a>le statut
                                    <span class="margin-1rem cursor-default btn {% if request.status == '1' %}btn-submit{% endif %}{% if request.status == '2' %}btn-validated{% endif %}{% if request.status == '3' %}btn-delete{% endif %}{% if request.status == '4' %}btn-unknown{% endif %}">
                                        {{ request.get_status_display }}
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% else %}
        <div class="capsule justify-content-center margin-auto">
            <h2>Aucune demande de film trouvée.</h2>
        </div>
        {% endif %}
    </div>

    <div class="dashboard-block-element padding-1rem">
        {% if user_requests_people %}
        <div class="dashboard-block-element-title">
            <h2>VOS DEMANDES D'AJOUTS DE PERSONNALITES ({{ user_requests_people|length }})</h2>
        </div>
        <div class="dashboard-block-element-content justify-content-center flex-wrap">
            {% for request in user_requests_people %}
                {% if request.people %}
                    <div class="capsule justify-content-center width-100 {% cycle '' 'background-grey' %}">
                        <div class="capsule-text width-100">
                            <ul class="justify-content-center">
                                <li class="requests-list">
                                    {% if request.people.slug %}
                                    <a href="{% url 'people:people_detail' slug=request.people.slug pk=request.people.pk %}">
                                    {% endif %}
                                        <h2>{{ request.people }}</h2>
                                    </a> a bien été enregistré suite à votre demande du {{ request.date_created|date:"d/m/Y" }}.
                                </li>
                            </ul>
                        </div>
                    </div>
                {% else %}
                    <div class="capsule justify-content-center width-100 {% cycle '' 'background-grey' %}">
                        <div class="capsule-text width-100">
                            <ul class="justify-content-center">
                                <li class="requests-list">
                                    <span>
                                        Votre demande d'ajout du {{ request.date_created|date:"d/m/Y" }} pour la personnalité ayant l'identifiant IMDB
                                        <a href="{{ request.imdb_link }}" target="_blank"><b>{{ request.imdb_id }}</b></a> a le statut
                                    </span>
                                    <span class="margin-1rem cursor-default btn {% if request.status == '1' %}btn-submit{% endif %}{% if request.status == '2' %}btn-validated{% endif %}{% if request.status == '3' %}btn-delete{% endif %}{% if request.status == '4' %}btn-unknown{% endif %}">
                                        {{ request.get_status_display }}
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        {% else %}
        <div class="capsule justify-content-center margin-auto">
            <h2>Aucune demande de personnalité trouvée.</h2>
        </div>
        {% endif %}
    </div>

</section>