{% load static %}

<section class="dashboard-block main-block-min-width">

    <div class="dashboard-block-element min-height-30vh">
        {% if user_requests_blurays %}
        <div class="dashboard-block-element-title">
            <h2>VOS DEMANDES D'AJOUTS DE BLU-RAYS ({{ user_requests_blurays|length }})</h2>
        </div>
        <div class="dashboard-block-element-content justify-content-center flex-wrap">
        {% for request in user_requests_blurays %}
        <div class="capsule justify-content-center">
            <div class="capsule-text width-100">
                <ul>
                    <li class="margin-1rem">Demande du {{ request.date_created|date:"d F Y" }}</li>
                    <li class="margin-1rem">Ajout du blu-ray ayant l'identifiant Amazon {{ request.asin }}</li>
                    <li class="margin-1rem">Le statut de votre demande est :
                        <span class="cursor-default btn {% if request.status == '1' %}btn-submit{% endif %}{% if request.status == '2' %}btn-validated{% endif %}{% if request.status == '3' %}btn-delete{% endif %}{% if request.status == '4' %}btn-unknown{% endif %}">
                            {{ request.get_status_display }}
                        </span></li>
                </ul>
            </div>
        </div>
        {% endfor %}
        </div>
        {% else %}
        <div class="capsule justify-content-center margin-auto">
            <h2>Vous n'avez envoyé aucune demande d'ajout de blu-ray.</h2>
        </div>
        {% endif %}
    </div>

    <div class="dashboard-block-element min-height-30vh">
    {% if user_requests_movies %}
        <div class="dashboard-block-element-title">
            <h2>VOS DEMANDES D'AJOUTS DE FILMS ({{ user_requests_movies|length }})</h2>
        </div>
        <div class="dashboard-block-element-content justify-content-center flex-wrap">
        {% for request in user_requests_movies %}
        <div class="capsule justify-content-center">
            <div class="capsule-text width-100">
                <ul>
                    <li class="margin-1rem">Demande du {{ request.date_created|date:"d F Y" }}</li>
                    <li class="margin-1rem">Ajout du film ayant l'identifiant IMDB {{ request.imdb }}</li>
                    <li class="margin-1rem">Le statut de votre demande est :
                        <span class="cursor-default btn {% if request.status == '1' %}btn-submit{% endif %}{% if request.status == '2' %}btn-validated{% endif %}{% if request.status == '3' %}btn-delete{% endif %}{% if request.status == '4' %}btn-unknown{% endif %}">
                            {{ request.get_status_display }}
                        </span></li>
                </ul>
            </div>
        </div>
        {% endfor %}
        </div>
        {% else %}
        <div class="capsule justify-content-center margin-auto">
            <h2>Vous n'avez envoyé aucune demande d'ajout de film.</h2>
        </div>
        {% endif %}
    </div>

    <div class="dashboard-block-element min-height-30vh">
        {% if user_requests_people %}
        <div class="dashboard-block-element-title">
            <h2>VOS DEMANDES D'AJOUTS DE PERSONNALITES ({{ user_requests_people|length }})</h2>
        </div>
        <div class="dashboard-block-element-content justify-content-center flex-wrap">
        {% for request in user_requests_people %}
        <div class="capsule justify-content-center">
            <div class="capsule-text width-100">
                <ul>
                    <li class="margin-1rem">Demande du {{ request.date_created|date:"d F Y" }}</li>
                    <li class="margin-1rem">Ajout de la personnalité ayant l'identifiant IMDB {{ request.imdb }}</li>
                    <li class="margin-1rem">Le statut de votre demande est :
                        <span class="cursor-default btn {% if request.status == '1' %}btn-submit{% endif %}{% if request.status == '2' %}btn-validated{% endif %}{% if request.status == '3' %}btn-delete{% endif %}{% if request.status == '4' %}btn-unknown{% endif %}">
                            {{ request.get_status_display }}
                        </span></li>
                </ul>
            </div>
        </div>
        {% endfor %}
        </div>
        {% else %}
        <div class="capsule justify-content-center margin-auto">
            <h2>Vous n'avez envoyé aucune demande d'ajout de personnalité.</h2>
        </div>
        {% endif %}
    </div>

</section>