{% load static %}

<section class="dashboard-block main-block-min-width">

    <div class="dashboard-block-element min-height-30vh">
        {% if user_favorite_movies %}
        <div class="dashboard-block-element-title">
            <h2>VOS FILMS PREFERES ({{ user_favorite_movies|length }})</h2>
        </div>
        <div class="dashboard-block-element-content flex-wrap">
        {% for favorite_movie in user_favorite_movies %}
        <div class="capsule width-25 margin-bottom-1rem">
            {% if favorite_movie.movie_image %}
            <div class="capsule-image" style="background-image: url({{ favorite_movie.movie_image.url }});">
            {% else %}
            <div class="capsule-image" style="background-image: url({% static 'img/nopic.jpg' %});">
            {% endif %}
            <div class="favorite-wrapper">
                <i class="favorite {% if favorite_movie in user_favorite_movies %}press{% endif %}" onclick="favorite('favorite_movie_{{ favorite_movie.pk }}',{{ favorite_movie.pk }}, 'movie')" id="favorite_movie_{{ favorite_movie.pk }}"></i>
            </div>
            </div>
            <div class="capsule-text">
                <h2><a href="{% url 'movies:movies_detail' slug=favorite_movie.slug pk=favorite_movie.pk %}">{{ favorite_movie }}</a></h2>
                <p>{{ favorite_movie.release_year }}</p>
                {% if favorite_movie.directors %}
                    <p>De
                    {% for director in favorite_movie.directors %}
                        <a href="{% url 'people:people_detail' slug=director.slug pk=director.pk %}">{{ director }}</a>
                    {% endfor %}</p>
                {% endif %}
                {% if favorite_movie.actors %}
                    <p>Avec
                    {% for actor in favorite_movie.actors %}
                        <a href="{% url 'people:people_detail' slug=actor.slug pk=actor.pk %}">{{ actor }}</a>
                    {% endfor %}</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        </div>
        {% else %}
        <div class="capsule justify-content-center margin-auto">
            <h2>Vous n'avez aucun film dans vos favoris.</h2>
        </div>
        {% endif %}
    </div>

    <div class="dashboard-block-element min-height-30vh">
        {% if user_favorite_people %}
        <div class="dashboard-block-element-title">
            <h2>VOS PERSONNALITES PREFEREES ({{ user_favorite_people|length }})</h2>
        </div>
        <div class="dashboard-block-element-content flex-wrap">
        {% for people in user_favorite_people %}
        <div class="capsule width-25 margin-bottom-1rem">
            {% if people.people_image %}
            <div class="capsule-image" style="background-image: url({{ people.people_image.url }});">
            {% else %}
            <div class="capsule-image" style="background-image: url({% static 'img/nopic.jpg' %});">
            {% endif %}
                <div class="favorite-wrapper">
                    <i class="favorite {% if people in user_favorite_people %}press{% endif %}" onclick="favorite('favorite_people_{{ people.pk }}',{{ people.pk }}, 'people')" id="favorite_people_{{ people.pk }}"></i>
                </div>
            </div>
            <div class="capsule-text">
                <a href="{% url 'people:people_detail' slug=people.slug pk=people.pk %}">
                    <h2>{{ people }}</h2>
                </a>
            </div>
        </div>
        {% endfor %}
        </div>
        {% else %}
        <div class="capsule justify-content-center margin-auto">
            <h2>Vous n'avez aucune personnalité dans vos favoris.</h2>
        </div>
        {% endif %}
    </div>

    <div class="dashboard-block-element min-height-30vh">
        {% if user_favorite_blurays %}
        <div class="dashboard-block-element-title">
            <h2>VOS BLU-RAYS PREFERES ({{ user_favorite_blurays|length }})</h2>
        </div>
        <div class="dashboard-block-element-content flex-wrap">
        {% for favorite_bluray in user_favorite_blurays %}
        <div class="capsule width-25 margin-bottom-1rem">
            {% if favorite_bluray.bluray_image %}
            <div class="capsule-image" style="background-image: url({{ favorite_bluray.bluray_image.url }});">
            {% else %}
            <div class="capsule-image" style="background-image: url({% static 'img/nopic.jpg' %});">
            {% endif %}
                <div class="favorite-wrapper">
                    <i class="favorite {% if favorite_bluray in user_favorite_blurays %}press{% endif %}" onclick="favorite('favorite_bluray_{{ favorite_bluray.pk }}',{{ favorite_bluray.pk }}, 'bluray')" id="favorite_bluray_{{ favorite_bluray.pk }}"></i>
                </div>
            </div>
            <div class="capsule-text">
                <a href="{% url 'blurays:blurays_detail' slug=favorite_bluray.slug pk=favorite_bluray.pk %}">
                    {% if favorite_bluray.title %}
                        <h2>{{ favorite_bluray.title }}</h2>
                    {% else %}
                        <h2>{{ favorite_bluray.movie }}</h2>
                    {% endif %}
                </a>
                {% if favorite_bluray.uhd %}
                    <p><img src="{% static 'img/logo-4k.png' %}" alt="Logo Blu-Ray 4K" width="100px"></p>
                {% endif %}
                {% if favorite_bluray.movie.directors %}
                    <p>De
                    {% for director in favorite_bluray.movie.directors %}{{ director }}
                    {% endfor %}</p>
                {% endif %}
                {% if favorite_bluray.movie.actors %}
                    <p>Avec
                    {% for actor in favorite_bluray.movie.actors %}{{ actor }}
                    {% endfor %}</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        </div>
        {% else %}
        <div class="capsule justify-content-center margin-auto">
            <h2>Vous n'avez aucun blu-ray dans vos favoris.</h2>
        </div>
        {% endif %}
    </div>

</section>