{% load static %}

<div class="dashboard-block-element min-height-30vh">
    {% if movie_list %}
    <div class="dashboard-block-element-title">
        <h2>TOUS LES FILMS ({{ movie_list|length }})</h2>
    </div>
    <div class="dashboard-block-element-content flex-wrap">
    {% for movie in movie_list %}
    <div class="capsule capsule-all width-25 margin-bottom-1rem">
        {% if movie.movie_image %}
            <div class="capsule-image" style="background-image: url({{ movie.movie_image.url }});">
        {% else %}
            <div class="capsule-image" style="background-image: url({% static 'img/nopic.jpg' %});">
        {% endif %}
        {% if user.is_authenticated %}
            <div class="favorite-wrapper">
                <div class="favorite" onclick="favorite('movie_{{ movie.pk }}',{{ movie.pk }}, 'movie')" id="movie_{{ movie.pk }}">
                    <svg class="favorite-svg-heart {% if movie in user_favorite_movies %}press{% endif %}" viewBox="0 0 24 24">
                      <path id="heart" d="M12 4.435c-1.989-5.399-12-4.597-12 3.568 0 4.068 3.06 9.481 12 14.997 8.94-5.516 12-10.929 12-14.997 0-8.118-10-8.999-12-3.568z" />
                    </svg>
                </div>
            </div>
        {% endif %}
        </div>
        <div class="capsule-text">
            <h2><a href="{% url 'movies:movies_detail' slug=movie.slug pk=movie.pk %}">{{ movie|truncatechars:30 }}</a></h2>
            {% if movie.release_year %}
            <p>{{ movie.release_year }}</p>
            {% endif %}
            {% if movie.directors %}
                <p>De
                {% for director in movie.directors %}<a href="{% url 'people:people_detail' slug=director.slug pk=director.pk %}">{{ director }}</a>
                {% endfor %}</p>
            {% endif %}
            {% if movie.actors %}
                <p>Avec
                    {% for actor in movie.actors %}<a href="{% url 'people:people_detail' slug=actor.slug pk=actor.pk %}">{{ actor }}</a>
                {% endfor %}</p>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    </div>
    {% if movie_list|length > 4 %}
        <p id="loadMore-container" class="loadMore-container"><a href="#" id="loadMore">Voir tout</a></p>
    {% endif %}
    {% else %}
      <div class="capsule justify-content-center margin-auto">
        <h2 class="margin-1rem width-100 text-align-center">Aucun film n'est enregistré dans notre base de données.</h2>
    </div>
    {% endif %}
</div>