{% load static %}

<section class="dashboard-block main-block-min-width">

    <div class="dashboard-block-element min-height-30vh">
        {% if deals %}
        <div class="dashboard-block-element-title">
            <h2>BONS PLANS SUR LE FILM {{ movie|upper }} ({{ deals|length }})</h2>
        </div>
        <div class="dashboard-block-element-content flex-wrap">
        {% for deal in deals %}
        <div class="capsule width-25 margin-bottom-1rem">
            {% if deal.bluray.bluray_image %}
                <div class="capsule-image" style="background-image: url({{ deal.bluray.bluray_image.url }});">
            {% else %}
                <div class="capsule-image" style="background-image: url({% static 'img/nopic.jpg' %});">
            {% endif %}
            <a href="{{ deal.bluray.amazon_aff_link }}" target="_blank">
                <p class="deal-price {% if deal.status != '1' %}inactif{% endif %}">{{ deal.price }}€</p>
            </a>
            </div>
            <div class="capsule-text">
                <a href="{% url 'deals:deals_detail' pk=deal.pk %}">
                <h2>{{ deal.bluray.movie }}</h2>
                {% if deal.bluray.uhd %}
                    <p><img src="{% static 'img/logo-4k.png' %}" alt="Logo Blu-Ray 4K" width="100px"></p>
                {% endif %}
                <p>Posté le {{ deal.start_date|date:"d/m/Y"|title }}</p>
                </a>
            </div>
        </div>
        {% endfor %}
        </div>
        {% else %}
        <div class="capsule justify-content-center margin-auto">
            <h2>Aucun bon plan n'a été partagé pour ce film.</h2>
        </div>
        {% endif %}
    </div>

    <div class="dashboard-block-element min-height-30vh">
        {% if movie_blurays %}
        <div class="dashboard-block-element-title">
            <h2>BLU-RAYS DE {{ object|upper }} ({{ movie_blurays|length }})</h2>
        </div>
        <div class="dashboard-block-element-content flex-wrap">
        {% for bluray in movie_blurays %}
        <div class="capsule width-25 margin-bottom-1rem">
            {% if bluray.bluray_image %}
            <div class="capsule-image" style="background-image: url({{bluray.bluray_image.url }});">
            {% else %}
            <div class="capsule-image" style="background-image: url({% static 'img/nopic.jpg' %});">
            {% endif %}
            {% if user.is_authenticated %}
                <div class="favorite-wrapper">
                    <i class="favorite {% if bluray in user_favorite_blurays %}press{% endif %}" onclick="favorite('favorite_bluray_{{ bluray.pk }}',{{ bluray.pk }}, 'bluray')" id="favorite_bluray_{{ bluray.pk }}"></i>
                </div>
            {% endif %}
            </div>
            <div class="capsule-text">
                <a href="{% url 'blurays:blurays_detail' slug=bluray.slug pk=bluray.pk %}">
                    {% if bluray.title %}
                        <h2>{{ bluray.title }}</h2>
                    {% else %}
                        <h2>{{ bluray.movie }}</h2>
                    {% endif %}
                    {% if bluray.uhd %}
                        <p><img src="{% static 'img/logo-4k.png' %}" alt="Logo Blu-Ray 4K" width="100px"></p>
                    {% endif %}
                    <p>Sortie: {{ bluray.release_date|date:"d/m/Y" }}</p>
                </a>
            </div>
        </div>
        {% endfor %}
        </div>
        {% else %}
        <div class="capsule justify-content-center margin-auto">
            <h2>Aucun blu-ray n'est enregistré pour ce film.</h2>
        </div>
        {% endif %}
    </div>

</section>