{% load static %}

<div class="dashboard-block-element min-height-20vh padding-1rem text-align-center justify-content-center">
    {% if latest_movies %}
    <h2>Gros plan sur ...</h2>
    {% with latest_movies|first as latest_movie %}
    <div class="capsule">
                {% if latest_movie.movie_image %}
                <div class="capsule-image" style="background-image: url({{ latest_movie.movie_image.url }});">
                {% else %}
                <div class="capsule-image" style="background-image: url({% static 'img/nopic.jpg' %});">
                {% endif %}
                </div>
                <div class="capsule-text">
                    <p>
                        {% if latest_movie.slug %}
                        <a href="{% url 'movies:movies_detail' slug=latest_movie.slug pk=latest_movie.pk %}">
                            <h2>{{ latest_movie }}</h2>
                        </a>
                        {% else %}
                            <h2>{{ latest_movie }}</h2>
                        {% endif %}
                    </p>
                    {% if latest_movie.directors %}
                    <p>Un film de {% for director in latest_movie.directors %}
                        {% if director.slug %}
                        <a href="{% url 'people:people_detail' slug=director.slug pk=director.pk %}">
                            {{ director }}
                        </a>
                        {% else %}
                            {{ director }}
                        {% endif %}
                        {% endfor %}
                    </p>
                    {% endif %}
                    {% if latest_movie.actors %}
                    <p>Avec {% for actor in latest_movie.actors %}
                        {% if actor.slug %}
                        <a href="{% url 'people:people_detail' slug=actor.slug pk=actor.pk %}">
                            {{ actor }}
                        </a>
                        {% else %}
                            {{ actor }}
                        {% endif %}
                        {% endfor %}
                    </p>
                    {% endif %}
                </div>{% endwith %}
            </div>
    {% else %}
        <p>Il n'y a actuellement aucun film dans notre base de données.</p>
    {% endif %}
</div>
