{% load static %}

<section class="dashboard-block main-block-min-width">
    <div class="dashboard-block-element min-height-30vh">
        {% if movie_list %}
        <div class="dashboard-block-element-title">
            <h2>TOUS LES FILMS ({{ movie_list|length }})</h2>
        </div>
        <div class="dashboard-block-element-content flex-wrap">
        {% for movie in movie_list %}
        <div class="capsule width-25 margin-bottom-1rem">
            {% if movie.movie_image %}
                <div class="capsule-image" style="background-image: url({{ movie.movie_image.url }});">
            {% else %}
                <div class="capsule-image" style="background-image: url({% static 'img/nopic.jpg' %});">
            {% endif %}
                <div class="favorite-wrapper">
                    <i class="favorite {% if movie in favorite_movies %}press{% endif %}" onclick="favorite('movie_{{ movie.pk }}',{{ movie.pk }}, 'movie')" id="movie_{{ movie.pk }}"></i>
                </div>
            </div>
            <div class="capsule-text">
                <h2><a href="{% url 'movies:movies_detail' slug=movie.slug pk=movie.pk %}">{{ movie }}</a></h2>
                <p>{{ movie.release_year }}</p>
                {% if movie.directors %}
                    <p>De
                    {% for director in movie.directors %}<a href="{% url 'people:people_detail' slug=director.slug pk=director.pk %}">{{ director }}</a>
                    {% endfor %}</p>
                {% endif %}
                {% if movie.actors %}
                    <p>Avec
                        {% for actor in movie.actors %}<a href="{% url 'people:people_detail' slug=actor.slug pk=actor.pk %}">{{ actor }}</a>
                    {% endfor %}</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        </div>
        {% else %}
          <div class="capsule justify-content-center margin-auto">
            <h2>Aucun film n'est enregistré dans notre base de données.</h2>
        </div>
        {% endif %}
    </div>

    <div class="dashboard-block-element min-height-30vh">
        {% if favorite_movies %}
        <div class="dashboard-block-element-title">
            <h2>VOS FILMS PREFERES ({{ favorite_movies|length }})</h2>
        </div>
        <div class="dashboard-block-element-content flex-wrap">
        {% for favorite_movie in favorite_movies %}
        <div class="capsule width-25 margin-bottom-1rem">
                {% if favorite_movie.movie_image %}
                    <div class="capsule-image" style="background-image: url({{ favorite_movie.movie_image.url }});">
                    {% else %}
                    <div class="capsule-image" style="background-image: url({% static 'img/nopic.jpg' %});">
                {% endif %}
                <div class="favorite-wrapper">
                    <i class="favorite {% if favorite_movie in favorite_movies %}press{% endif %}" onclick="favorite('favorite_movie_{{ favorite_movie.pk }}',{{ favorite_movie.pk }}, 'movie')" id="favorite_movie_{{ favorite_movie.pk }}"></i>
                </div>
                </div>
                <div class="capsule-text">
                    <a href="{% url 'movies:movies_detail' slug=favorite_movie.slug pk=favorite_movie.pk %}">
                    <h2>{{ favorite_movie }}</h2>
                    </a>
                    <p>Sorti en {{ favorite_movie.release_year }}</p>
                </div>
        </div>
        {% endfor %}
        </div>
        {% else %}
        <div class="capsule justify-content-center margin-auto">
            <h2>Vous n'avez aucun film dans vos favoris.</h2>
        </div>
        {% endif %}
    </div>

</section>