{% load static %}

<section class="dashboard-block main-block-min-width">

    <div class="dashboard-block-element min-height-30vh">
        {% if user_recommended_movies %}
        <div class="dashboard-block-element-title">
            <h2>NOS RECOMMANDATIONS DE FILMS ({{ user_recommended_movies|length }})</h2>
        </div>
        <div class="dashboard-block-element-content flex-wrap">
        {% for user_recommended_movie in user_recommended_movies %}
        <div class="capsule width-25 margin-bottom-1rem">
                {% if user_recommended_movie.movie_image %}
                    <div class="capsule-image" style="background-image: url({{ user_recommended_movie.movie_image.url }});">
                    {% else %}
                    <div class="capsule-image" style="background-image: url({% static 'img/nopic.jpg' %});">
                {% endif %}
                <div class="favorite-wrapper">
                    <i class="favorite {% if user_recommended_movie in user_favorite_movies %}press{% endif %}" onclick="favorite('user_recommended_movie_{{ user_recommended_movie.pk }}',{{ user_recommended_movie.pk }}, 'movie')" id="user_recommended_movie_{{ user_recommended_movie.pk }}"></i>
                </div>
                </div>
                <div class="capsule-text">
                    <a href="{% url 'movies:movies_detail' slug=user_recommended_movie.slug pk=user_recommended_movie.pk %}">
                    <h2>{{ user_recommended_movie|truncatechars:18 }}</h2>
                    </a>
                    <p>Sorti en {{ user_recommended_movie.release_year }}</p>
                </div>
        </div>
        {% endfor %}
        </div>
        {% else %}
        <div class="capsule justify-content-center margin-auto flex-wrap">
            <h2 class="margin-1rem width-100 text-align-center">Nous n'avons aucune recommandation de films pour vous. </h2>
            <br>
            <h2 class="margin-1rem width-100 text-align-center">Pensez à ajouter des personnalités à vos favoris.</h2>
        </div>
        {% endif %}
    </div>

    <div class="dashboard-block-element min-height-30vh">
        {% if user_favorite_movies %}
        <div class="dashboard-block-element-title">
            <h2>VOS FILMS PREFERES ({{ user_favorite_movies|length }})</h2>
        </div>
        <div class="dashboard-block-element-content flex-wrap">
        {% for user_favorite_movie in user_favorite_movies %}
        <div class="capsule width-25 margin-bottom-1rem">
                {% if user_favorite_movie.movie_image %}
                    <div class="capsule-image" style="background-image: url({{ user_favorite_movie.movie_image.url }});">
                    {% else %}
                    <div class="capsule-image" style="background-image: url({% static 'img/nopic.jpg' %});">
                {% endif %}
                <div class="favorite-wrapper">
                    <i class="favorite {% if user_favorite_movie in user_favorite_movies %}press{% endif %}" onclick="favorite('user_favorite_movie_{{ user_favorite_movie.pk }}',{{ user_favorite_movie.pk }}, 'movie')" id="user_favorite_movie_{{ user_favorite_movie.pk }}"></i>
                </div>
                </div>
                <div class="capsule-text">
                    <a href="{% url 'movies:movies_detail' slug=user_favorite_movie.slug pk=user_favorite_movie.pk %}">
                    <h2>{{ user_favorite_movie|truncatechars:18 }}</h2>
                    </a>
                    <p>Sorti en {{ user_favorite_movie.release_year }}</p>
                </div>
        </div>
        {% endfor %}
        </div>
        {% else %}
        <div class="capsule justify-content-center margin-auto">
            <h2 class="margin-1rem width-100 text-align-center">Vous n'avez aucun film dans vos favoris.</h2>
        </div>
        {% endif %}
    </div>

    <div class="dashboard-block-element min-height-30vh">
        {% if movie_list %}
        <div class="dashboard-block-element-title">
            <h2>TOUS LES FILMS ({{ movie_list|length }})</h2>
        </div>
        <div class="dashboard-block-element-content flex-wrap">
        {% for movie in movie_list %}
        <div class="capsule width-25 margin-bottom-1rem">
            {% if movie.movie_image %}
                <div class="capsule-image" style="background-image: url({{ movie.movie_image.url }});">
            {% else %}
                <div class="capsule-image" style="background-image: url({% static 'img/nopic.jpg' %});">
            {% endif %}
                <div class="favorite-wrapper">
                    <i class="favorite {% if movie in user_favorite_movies %}press{% endif %}" onclick="favorite('movie_{{ movie.pk }}',{{ movie.pk }}, 'movie')" id="movie_{{ movie.pk }}"></i>
                </div>
            </div>
            <div class="capsule-text">
                <h2><a href="{% url 'movies:movies_detail' slug=movie.slug pk=movie.pk %}">{{ movie|truncatechars:18 }}</a></h2>
                <p>{{ movie.release_year }}</p>
                {% if movie.directors %}
                    <p>De
                    {% for director in movie.directors %}<a href="{% url 'people:people_detail' slug=director.slug pk=director.pk %}">{{ director }}</a>
                    {% endfor %}</p>
                {% endif %}
                {% if movie.actors %}
                    <p>Avec
                        {% for actor in movie.actors %}<a href="{% url 'people:people_detail' slug=actor.slug pk=actor.pk %}">{{ actor }}</a>
                    {% endfor %}</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        </div>
        {% else %}
          <div class="capsule justify-content-center margin-auto">
            <h2 class="margin-1rem width-100 text-align-center">Aucun film n'est enregistré dans notre base de données.</h2>
        </div>
        {% endif %}
    </div>

</section>