{% load static %}

{% if top_movies %}
<div class="dashboard-block-element min-height-20vh justify-content-center">
    <div class="dashboard-block-element-title">
        <h2>TOP 5</h2>
    </div>
    <div class="dashboard-block-element-content flex-column">
    {% for movie in top_movies|slice:":5" %}
    <div class="capsule align-items-center flex-column width-100">
        {% if movie.movie_image %}
        <div class="capsule-image" style="background-image: url({{ movie.movie_image.url }});">
        {% else %}
        <div class="capsule-image" style="background-image: url({% static 'img/nopic.jpg' %});">
        {% endif %}
        {% if user.is_authenticated %}
            <div class="favorite-wrapper">
                <div class="favorite" onclick="favorite('top_movie_{{ movie.pk }}',{{ movie.pk }}, 'movie')" id="top_movie_{{ movie.pk }}">
                    <svg class="favorite-svg-heart {% if movie in user_favorite_movies %}press{% endif %}" viewBox="0 0 24 24">
                      <path id="heart" d="M12 4.435c-1.989-5.399-12-4.597-12 3.568 0 4.068 3.06 9.481 12 14.997 8.94-5.516 12-10.929 12-14.997 0-8.118-10-8.999-12-3.568z" />
                    </svg>
                </div>
            </div>
        {% endif %}
        </div>
        <div class="capsule-text text-align-center">
            <h2 class="justify-content-center"><a href="{% url 'movies:movies_detail' slug=movie.slug pk=movie.pk %}">{{ movie|truncatechars:90 }}</a></h2>
            {% with total=movie.num_favorites %}
                ♥ par {{ total }} membre{{total|pluralize}}
            {% endwith %}
        </div>
    </div>
    {% endfor %}
    </div>
</div>
{% else %}
{% endif %}