{% extends "base.html" %}
{% load static %}
{% load profiles_tags %}

    {% block left-block %}
        {% include "profiles/left-block.html" %}
    {% endblock %}

    {% block content %}
    {% if modal %}
        {% include modal %}
    {% endif %}
    <section class="dashboard-block main-block-min-width">

        <div class="dashboard-block-element min-height-30vh">
            {% if user_recommended_deals %}
            <div class="dashboard-block-element-title">
                <h2>BONS PLANS RECOMMANDES POUR VOUS ({{ user_recommended_deals|length }})</h2>
            </div>
            <div class="dashboard-block-element-content flex-wrap">
            {% for deal in user_recommended_deals %}
            <div class="capsule width-25 margin-bottom-1rem">
                {% if deal.bluray.bluray_image %}
                <div class="capsule-image" style="background-image: url({{ deal.bluray.bluray_image.url }});">
                {% else %}
                <div class="capsule-image" style="background-image: url({% static 'img/nopic.jpg' %});">
                {% endif %}
                    <a href="{{ deal.bluray.amazon_aff_link }}" target="_blank">
                        <p class="deal-price {% if deal.status != '1' %}inactif{% endif %}">{{ deal.price }}€</p>
                    </a>
                </div>
                <div class="capsule-text">
                    <a href="{% url 'deals:deals_detail' pk=deal.pk %}">
                    {% if deal.bluray.title %}
                        <h2>{{ deal.bluray.title|truncatechars:18 }}</h2>
                    {% else %}
                        <h2>{{ deal.bluray.movie|truncatechars:18 }}</h2>
                    {% endif %}
                    </a>
                    {% if deal.bluray.uhd %}
                        <p><img src="{% static 'img/logo-4k.png' %}" alt="Logo Blu-Ray 4K" width="100px"></p>
                    {% endif %}
                    <p>Posté le {{ deal.date_created|date:"d/m/Y" }}</p>
                </div>
            </div>
            {% endfor %}
            </div>
            {% else %}
            <div class="capsule justify-content-center text-align-center margin-auto">
                <h2>Nous n'avons trouvé aucune recommandation de bon plan pour vous.<br><br>
                Pensez à ajouter des blu-rays, des films ou des personnalités à vos favoris.</h2>
            </div>
            {% endif %}
        </div>

        <div class="dashboard-block-element min-height-30vh">
            {% if user_recommended_blurays %}
            <div class="dashboard-block-element-title">
                <h2>SUGGESTIONS DE BLU-RAYS POUR VOUS ({{ user_recommended_blurays|length }})</h2>
            </div>
            <div class="dashboard-block-element-content flex-wrap">
            {% for user_recommended_bluray in user_recommended_blurays %}
            <div class="capsule width-25 margin-bottom-1rem">
                {% if user_recommended_bluray.bluray_image %}
                <div class="capsule-image" style="background-image: url({{ user_recommended_bluray.bluray_image.url }});">
                {% else %}
                <div class="capsule-image" style="background-image: url({% static 'img/nopic.jpg' %});">
                {% endif %}
                {% if user.is_authenticated %}<div class="favorite-wrapper">
                    <i class="favorite {% if user_recommended_bluray in user_favorite_blurays %}press{% endif %}" onclick="favorite('user_recommended_bluray_{{ user_recommended_bluray.pk }}',{{ user_recommended_bluray.pk }}, 'bluray')" id="user_recommended_bluray_{{ user_recommended_bluray.pk }}"></i>
                </div>
                </div>
                <div class="capsule-text">
                    <a href="{% url 'blurays:blurays_detail' slug=user_recommended_bluray.slug pk=user_recommended_bluray.pk %}">
                    {% if user_recommended_bluray.title %}
                        <h2>{{ user_recommended_bluray.title|truncatechars:18 }}</h2>
                    {% else %}
                        <h2>{{ user_recommended_bluray.movie|truncatechars:18 }}</h2>
                    {% endif %}
                    </a>
                    {% if user_recommended_bluray.uhd %}
                        <p><img src="{% static 'img/logo-4k.png' %}" alt="Logo Blu-Ray 4K" width="100px"></p>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            </div>
            {% else %}
            <div class="capsule justify-content-center text-align-center margin-auto">
                <h2>Nous n'avons aucune suggestion de blu-ray pour vous.<br><br>
                Pensez à ajouter des films ou des personnalités à vos favoris.</h2>
            </div>
            {% endif %}
        </div>

        <div class="dashboard-block-element min-height-30vh">
            {% if favorite_blurays %}
            <div class="dashboard-block-element-title">
                <h2>VOS BLU-RAYS FAVORIS ({{ favorite_blurays|length }})</h2>
            </div>
            <div class="dashboard-block-element-content flex-wrap">
            {% for favorite_bluray in user_favorite_blurays %}
            <div class="capsule width-25 margin-bottom-1rem">
                {% if favorite_bluray.bluray_image %}
                <div class="capsule-image" style="background-image: url({{ favorite_bluray.bluray_image.url }});">
                {% else %}
                <div class="capsule-image" style="background-image: url({% static 'img/nopic.jpg' %});">
                {% endif %}
                {% if user.is_authenticated %}
                    <div class="favorite-wrapper">
                        <i class="favorite {% if favorite_bluray in user_favorite_blurays %}press{% endif %}" onclick="favorite('favorite_bluray_{{ favorite_bluray.pk }}',{{ favorite_bluray.pk }}, 'bluray')" id="favorite_bluray_{{ favorite_bluray.pk }}"></i>
                    </div>
                {% endif %}
                </div>
                <div class="capsule-text">
                    <a href="{% url 'blurays:blurays_detail' slug=favorite_bluray.slug pk=favorite_bluray.pk %}">
                    {% if favorite_bluray.title %}
                        <h2>{{ favorite_bluray.title|truncatechars:18 }}</h2>
                    {% else %}
                        <h2>{{ favorite_bluray.movie|truncatechars:18 }}</h2>
                    {% endif %}
                    </a>
                    {% if favorite_bluray.uhd %}
                        <p><img src="{% static 'img/logo-4k.png' %}" alt="Logo Blu-Ray 4K" width="100px"></p>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            </div>
            {% else %}
            <div class="capsule justify-content-center text-align-center margin-auto">
                <h2>Vous n'avez aucun blu-ray dans vos favoris.</h2>
            </div>
            {% endif %}
        </div>

    </section>
    {% endblock %}

    {% block right-block %}
        {% include "profiles/right-block.html" %}
    {% endblock %}

