{% extends "base.html" %}
{% load static %}
{% load profiles_tags %}

    {% block left-block %}
        {% include "profiles/left-block.html" %}
    {% endblock %}

    {% block content %}
    {% if modal %}
        {% include modal %}
    {% endif %}

    <section class="dashboard-block main-block-min-width">
        {% include 'deals/recommended-deals-snippet.html' %}
        {% include 'blurays/recommended-blurays-snippet.html' %}
        {% include 'blurays/favorite-blurays-snippet.html' %}
    </section>
    {% endblock %}

    {% block right-block %}
        {% include "profiles/right-block.html" %}
    {% endblock %}

