{% extends "base.html" %}

{% block content %}

<h1>BLOODEAL</h1>
<section class="main-section">

    <div class="identification">
        <h2>CONNEXION</h2>
            <form method="POST">
                {% csrf_token %}
                {% for field in login_form %}
                        <p>{{ field.label_tag }}</p>
                        <p>{{ field }}
                            {% if forloop.counter == 2 %}
                                <span class="show-password" onclick="ShowPassword('login_password')">👁</span>
                            {% endif %}
                        </p>
                        <br>
                {% endfor %}
                    {% if login_message %}
                        <p class="errorlist">{{ login_message }}</p>
                    {% endif %}
                <p class="btn"><input name="button" type="submit" value="Je me connecte" class="btn-submit"></p>
            </form>
    </div>

    <div class="identification">
        <h2>INSCRIPTION</h2>
            <form method="POST">
                {% csrf_token %}
                {% for field in signup_form %}
                        <p>{{ field.label_tag }}</p>
                        <p>{{ field }}
                            {% if forloop.counter == 3 %}
                                <span class="show-password" onclick="ShowPassword('signup_password1')">👁</span>
                            {% endif %}
                        </p>
                        {{ field.errors }}
                        {% if signup_message %}
                            {{ signup_message }}
                        {% endif %}
                        <br>
                {% endfor %}
                <p class="btn"><input name="button" type="submit" value="Je m'inscris" class="btn-submit"></p>
            </form>
    </div>
</section>
{% endblock %}