{% extends "base.html" %}
{% load static %}

{% block header %}
{% endblock %}

{% block left-block %}
{% endblock %}

{% block content %}
{% if modal %}
    {% include modal %}
{% endif %}
<div class="flex-column">
    <h1 class="text-align-center">BL💿💿DEAL</h1>
        <section class="dashboard-block side-block-min-width index-page">

            <div class="dashboard-block-element height-fit-content margin-1vw">
                <div class="dashboard-block-element-title">
                    <h2>CONNEXION</h2>
                </div>
                <div class="dashboard-block-element-content flex-wrap padding-1rem">
                    <form method="POST">
                        {% csrf_token %}
                        {% for field in login_form %}
                                <p>{{ field.label_tag }}</p>
                                <p class="display-flex">{{ field }}
                                    {% if forloop.counter == 2 %}
                                        <span class="show-password" onclick="showPassword('{{ field.auto_id }}')">👁</span>
                                    {% endif %}
                                </p>
                                <br>
                        {% endfor %}
                            {% if login_message %}
                                <p class="errorlist">{{ login_message }}</p>
                                <br>
                            {% endif %}
                        <p class="btn"><input name="button" type="submit" value="Je me connecte" class="btn-submit"></p>
                    </form>
                </div>
            </div>

            <div class="dashboard-block-element height-fit-content margin-1vw">
                <div class="dashboard-block-element-title">
                    <h2>INSCRIPTION</h2>
                </div>
                <div class="dashboard-block-element-content flex-wrap padding-1rem">
                    <form method="POST">
                        {% csrf_token %}
                        {% for field in signup_form %}
                                <p>{{ field.label_tag }}</p>
                                <p class="display-flex">{{ field }}
                                    {% if forloop.counter >= 3 %}
                                        <span class="show-password" onclick="showPassword('{{ field.auto_id }}')">👁</span>
                                    {% endif %}
                                </p>
                                {{ field.errors }}
                                {% if signup_message %}
                                    {{ signup_message }}
                                {% endif %}
                                <br>
                        {% endfor %}
                        <p class="btn"><input name="button" type="submit" value="Je m'inscris" class="btn-submit"></p>
                    </form>
                </div>
            </div>
        </section>
</div>
{% endblock %}

{% block right-block %}
{% endblock %}
