@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
    /*--site-bg-color: rgba(70,130,180,1);*/
    --site-bg-color: rgba(0,149,213,1);
    --element-bg-color: rgba(255,255,255,1);
    --capsule-bg-color: rgba(255,255,255,1);
    --modal-bg-color: rgba(0,0,0,0.8);
    --capsule-image-width: 45%;
    --capsule-image-margin-width: 2%;
    --capsule-text-width: 73%;
    /*--elements-bg-color: steelblue;*/
    --elements-bg-color: var(--site-bg-color);
    --btn-delete-bg-color: indianred;
    --btn-validated-bg-color: green;
    --btn-unknown-bg-color: grey;
    --autofill-input-color: rgba(232,240,254,1);
    --main-txt-color: rgba(255,255,255,1);
    --footer-height: 5vh;
}

* {
    font-family: 'Josefin Sans', 'Monserrat', sans-serif;
}

body {
    background-color: var(--site-bg-color);
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0.8rem 2rem;
}

nav span {
    font-size: 3rem;
    font-weight: 600;
}

ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}

li {
    display: inline;
}

a {
    color: var(--main-txt-color);
    text-decoration: none;
    padding: 1rem 0 0 0;
}

a:visited {
    color: var(--main-txt-color);
}

input, textarea {
    background-color: var(--autofill-input-color);
    padding: .5rem;
    margin: 0.5rem auto;
    font-family: 'Josefin Sans';
    width: -webkit-fill-available;
}

main {
    margin-bottom: var(--footer-height);
}

h1 {
    font-size: 5rem;
    margin: 5rem;
    color: var(--main-txt-color);
}

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.nav li {
    line-height: 2rem;
    font-size: 0.8rem;
    color: var(--main-txt-color);
    padding: 0 1rem;
}

form {
    width: 100%;
}

.show-password {
    font-size: 25px;
    cursor: pointer;
    vertical-align: sub;
    margin: 0 0 0 0.5rem;
}

p .btn {
   text-align: center;
}

.btn {
    border: 0;
    margin: auto;
    padding: .5rem;
    cursor: pointer;
    display: inline-block;
}

.btn-submit {
    color: #fff;
    background-color: var(--elements-bg-color);
    border-radius: .25rem;
    font-size: 1rem;
    font-weight: 500;
}

.btn-delete {
    color: #fff;
    background-color: var(--btn-delete-bg-color);
    border-radius: .25rem;
}

.btn-validated {
    color: #fff;
    background-color: var(--btn-validated-bg-color);
    border-radius: .25rem;
}

.btn-unknown {
    color: #fff;
    background-color: var(--btn-unknown-bg-color);
    border-radius: .25rem;
}

.errorlist {
    display: inline-block;
    background: red;
    color: #fff;
    margin: 0.5rem auto;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 0.9rem;
}

.capsule-wrapper {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin: 0 auto;
    padding: 1rem;
    justify-content: center;
}

.capsule {
    box-sizing: border-box;
    display: flex;
    overflow: inherit;
    background: var(--capsule-bg-color);
    max-height: 100%;
    padding: 0.5rem 0;
}

.capsule-image {
    position: relative;
    width: var(--capsule-image-width);
    margin-right: var(--capsule-image-margin-width);
    height: 150px;
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
}

.capsule-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    /*width: var(--capsule-text-width);*/
    width: fit-content;
}

.capsule-text h2 {
    display: flex;
    color: black;
    margin:0;
    padding: 0.2rem;
    overflow: hidden;
}

.capsule-text h3 {
    font-size: 1.4rem;
    margin: 0.4rem;
}

.capsule-text h4 {
    font-size: 0.8rem;
    font-weight: 100;
    margin: 0.2rem;
}

.capsule-text a {
    color: black !important;
}

.capsule-text p {
    margin: 0.2rem;
}

.counter {
    font-size: 4rem;
    font-weight: 600;
}

.dashboard-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 85vh;
    margin-bottom: var(--footer-height);
}

.dashboard-block {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: flex-start;
    margin: 0 auto;
    padding: 1rem;
    background: var(--site-bg-color);
}

.dashboard-block-element {
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    border: 0;
    filter: drop-shadow(0 0 0.2rem black);
    background: var(--element-bg-color);
    margin: 0 0 1rem 0;
}

.dashboard-block-element  a {
    color: black;
}

.dashboard-block-element-title {
    min-height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--element-bg-color);
}

.dashboard-block-element-content {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background: var(--element-bg-color);
}

.deal-price {
    position: absolute;
    bottom: -1.25rem;
    right: -1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: red;
    padding: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    color: white;
}

.notification {
    position: absolute;
    top: 0;
    right:0;
    background: red;
    border-radius: 50%;
    line-height: 0.8rem;
    font-size: 0.8rem;
    padding: 0.2rem;
    width: 0.8rem;
    height: 0.8rem;
    margin: auto;
    text-align: center;
    z-index: -1;
}

.inactif {
    background: grey;
}

.requests-list {
    display: flex;
    align-items: center;
}

.requests-list h2,span {
    margin: 1rem;
    padding: 0;
}

.requests-list a {
    margin: 0;
    padding: 0;
}

.side-block-min-width {
    min-width: 15%;
}

.main-block-min-width {
    justify-content: flex-start;
    min-width: 65%;
}

.shadow {
    filter: drop-shadow(0 0 0.2rem black);
}

.min-height-10vh {
    min-height: 10vh;
}

.min-height-20vh {
    min-height: 20vh;
}

.min-height-30vh {
    min-height: 30vh;
}

.height-fit-content {
    height: fit-content;
}

.width-25 {
    width: 25%;
}

.width-100 {
    width: 100%;
}

.width-fit-content {
    width: fit-content;
}

.flex-column {
    flex-direction: column;
}

.index-page {
    flex-direction: row;
    justify-content: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-items-center {
    align-items: center;
}

.text-align-center {
    text-align: center;
}

.justify-content-center {
    justify-content: center;
}

.padding-1rem {
    padding: 1rem;
}

.margin-auto {
    margin: auto;
}

.margin-1rem {
    margin: 1rem;
}

.margin-bottom-1rem {
    margin-bottom: 1rem;
}

.cursor-default {
 cursor: default;
}

.display-flex {
    display: flex;
    align-items: center;
}

a .color-black {
    color: black;
}

footer {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100vw;
    min-height: var(--footer-height);
    bottom: 0;
    background: var(--site-bg-color);
    color: var(--main-txt-color);
}

/* Beginning of IMDB handling */

.rating {
    margin: 0;
    font-size: 1.5rem;
}

.ofTen {
    margin: 0;
    font-size: 1rem;
}

/* End of IMDB handling */

/* Beginning of favorite handling */

.favorite-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin:0 auto;
}

.favorite {
  cursor:pointer;
  padding:10px 12px 8px;
  background:#fff;
  border-radius:50%;
  display:inline-block;
  margin:0 0 15px;
  color:#aaa;
  transition:.2s;
}

.favorite:hover {
  color:#666;
}

.favorite:before {
  content:'❤';
  font-style:normal;
}

.press {
  animation: size .4s;
}

.press:before {
  color:#e23b3b;
}

@keyframes size {
  0% {padding:10px 12px 8px;}
  50% {padding:14px 16px 12px;
    margin-top:-4px;}
  100% {padding:10px 12px 8px;}
}

/* End of favorite handling */

/* Beginning of bell handling */

.deal {
  cursor:pointer;
  position: absolute;
  top: 0;
  left: 0;
  padding:6px 10px 6px;
  background:#fff;
  border-radius:50%;
}

.deal:before {
    content: "🔔";
}

/* End of bell handling */

/* backToTop button handling */

#backToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 4rem;
  height: 4rem;
  background-color: var(--element-bg-color);
  border-radius: 50%;
  border: 0;
  outline: 0;
  font-size: 0.8rem;
  cursor: pointer;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

#backToTop svg {
  background-color: var(--element-bg-color);
  width: 38px;
  height: 38px;
}

path {
    stroke: var(--site-bg-color);
    stroke-width: 6;
    stroke-linejoin: round;
    fill: none;
}

.search-wrapper {
    display: flex;
}

.search-wrapper input {
    width: 15rem;
    margin: 0 1rem 0 0;
    max-height: 1.5rem;
}

.search-wrapper svg {
    cursor: pointer;
}

path.search {
    stroke: white;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-linecap: round;
    fill: none;
}


/* End of backToTop button handling */

/* Beginning of the modal handling */

#modal {
    display: flex;
    width: fit-content;
    height: fit-content;
    max-width: 25%;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    position: fixed;
    margin: auto;
    top: 35%;
    visibility: visible;
    z-index: 2;
    cursor: pointer;
}

#close-modal {
    right: 0;
    top: 36px;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 0.5rem;
    background: var(--modal-bg-color);
    border-radius: 50%;"
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 25%;
  min-height: 25%;
  width: fit-content;
  height: fit-content;
  margin: auto;
  padding: 1.5rem;
  font-size: 2rem;
  color: rgba(255,255,255,1);
  background: var(--modal-bg-color);
}

.modal-content path{
    stroke-width: 10;
    stroke: white;
}

/* End of the modal handling */