@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

:root {
    --site-bg-color: rgba(0,149,213,1);
    --element-bg-color: rgba(255,255,255,1);
    --capsule-bg-color: rgba(255,255,255,1);
    --modal-bg-color: rgba(0,0,0,0.8);
    --capsule-image-width: 45%;
    --capsule-image-margin-width: 2%;
    --capsule-text-width: 73%;
    --elements-bg-color: var(--site-bg-color);
    --btn-delete-bg-color: indianred;
    --btn-validated-bg-color: green;
    --btn-unknown-bg-color: grey;
    --autofill-input-color: rgba(232,240,254,1);
    --main-txt-color: rgba(255,255,255,1);
    --footer-height: 5vh;
    --search-glass-width: 30px;
    --burger-line-height: 4px;
}

* {
    font-family: 'Josefin Sans', 'Monserrat', sans-serif;
}

body {
    background-color: var(--site-bg-color);
}

nav {
    display: flex;
}

ul {
    display: flex;
    list-style-type: none;
}

a {
    color: var(--main-txt-color);
    text-decoration: none;
    padding: 1rem 0 0 0;
}

a:visited {
    color: var(--main-txt-color);
}

input, textarea {
    background-color: var(--autofill-input-color);
    padding: .5rem;
    margin: 0.5rem auto;
    font-family: 'Josefin Sans';
    width: -webkit-fill-available;
}

main {
    margin-bottom: var(--footer-height);
}

h1 {
    font-size: 6vw;
    margin: 5rem;
    color: var(--main-txt-color);
}

.nav-nav {
    align-items: center;
}

.nav-burger-and-searchbar {
    display: flex;
    align-items: center;
    min-width: 50vw;
}

.nav-title {
    margin: auto;
    font-size: 3vw;
    font-weight: 600;
    width: -webkit-fill-available;
    text-align: center;
}

.nav-home img {
    width: 2rem;
    padding: 0 1rem;
    cursor: pointer;
    display: none;
}

.nav-search-wrapper {
    display: flex;
    justify-content: center;
}

input.nav-search-bar {
    margin: 0;
    min-width: 20vw;
    width: fit-content;
    height: calc(var(--search-glass-width) * 1.5);
    max-height: 1.5rem;
}

.nav-search-wrapper button {
    margin-left: calc(var(--search-glass-width) * 0.25);
    cursor: pointer;
    background: none;
    border: none;
}

.nav-search-wrapper svg {
    width: var(--search-glass-width);
    height: var(--search-glass-width);
}

.nav-ul {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: auto;
    width: 100%;
}

.nav-ul li {
    line-height: 2rem;
    font-size: 0.8rem;
    color: var(--main-txt-color);
}

.nav-burger {
    display: none;
    height: calc(var(--burger-line-height) * 7);
}

.nav-burger-line {
    width: calc(var(--burger-line-height) * 10);
    height: var(--burger-line-height);
    border-radius: 20rem;
    margin-top: var(--burger-line-height);
    background: white;
}

form {
    width: 100%;
}

.show-password {
    font-size: 25px;
    cursor: pointer;
    vertical-align: sub;
    margin: 0 0 0 0.5rem;
}

p .btn {
   text-align: center;
}

.btn {
    border: 0;
    margin: auto;
    padding: .5rem;
    cursor: pointer;
    display: inline-block;
}

.btn-submit {
    color: #fff;
    background-color: var(--elements-bg-color);
    border-radius: .25rem;
    font-size: 1rem;
    font-weight: 500;
}

.btn-delete {
    color: #fff;
    background-color: var(--btn-delete-bg-color);
    border-radius: .25rem;
}

.btn-validated {
    color: #fff;
    background-color: var(--btn-validated-bg-color);
    border-radius: .25rem;
}

.btn-unknown {
    color: #fff;
    background-color: var(--btn-unknown-bg-color);
    border-radius: .25rem;
}

.errorlist {
    display: inline-block;
    background: red;
    color: #fff;
    margin: 0.5rem auto;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-align: center;
    font-size: 0.9rem;
}

.capsule-wrapper {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin: 0 auto;
    padding: 1rem;
    justify-content: center;
}

.capsule {
    box-sizing: border-box;
    display: flex;
    overflow: inherit;
    background: var(--capsule-bg-color);
    max-height: 100%;
    padding: 0.5rem 0;
}

.capsule-all {
    display: none;
}

.capsule-image {
    position: relative;
    min-width: var(--capsule-image-width);
    margin-right: var(--capsule-image-margin-width);
    height: 150px;
    background-position: center;
    background-size:contain;
    background-repeat: no-repeat;
}

.capsule-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: fit-content;
}

.capsule-text h2 {
    display: flex;
    /*justify-content: center;*/
    color: black;
    margin:0;
    padding: 0.2rem;
    overflow: hidden;
}

.capsule-text h3 {
    font-size: 1.4rem;
    margin: 0.4rem;
}

.capsule-text h4 {
    font-size: 0.8rem;
    font-weight: 100;
    margin: 0.2rem;
}

.capsule-text a {
    color: black !important;
}

.capsule-text p {
    margin: 0.2rem;
}

.counter {
    font-size: 4rem;
    font-weight: 600;
}

.dashboard-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 85vh;
    margin-bottom: var(--footer-height);
}

.dashboard-block {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    justify-content: flex-start;
    margin: 1vw;
    padding: 0;
    background: var(--site-bg-color);
}

.dashboard-block-element {
    display: flex;
    flex-direction: column;
    width: 95%;
    box-sizing: border-box;
    border: 0;
    filter: drop-shadow(0 0 0.2rem black);
    background: var(--element-bg-color);
    margin: 1vw auto;
}

.dashboard-block-element  a {
    color: black;
}

.dashboard-block-element-title {
    min-height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: var(--element-bg-color);
}

.dashboard-block-element-content {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    background: var(--element-bg-color);
}

.deal-price {
    position: absolute;
    bottom: -10%;
    right: -5%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: red;
    padding: 0.5rem;
    width: 2.5rem;
    height: 2.5rem;
    color: white;
}

.notification {
    position: absolute;
    top: 0;
    right: -0.3rem;
    background: red;
    border-radius: 50%;
    line-height: 0.6rem;
    font-size: 0.6rem;
    padding: 0.2rem;
    width: 0.6rem;
    height: 0.6rem;
    margin: auto;
    text-align: center;
    z-index: 0;
}

.inactif {
    background: grey;
}

.requests-list {
    display: flex;
    align-items: center;
    padding: 2vw;
}

.requests-list h2, .requests-list span {
    margin: 1rem;
    padding: 1rem;
}

.requests-list a {
    margin: 0;
    padding: 0;
}

.side-block-min-width {
    min-width: 15vw;
}

.main-block-min-width {
    justify-content: flex-start;
    min-width: 65vw;
}

.shadow {
    filter: drop-shadow(0 0 0.2rem black);
}

.min-height-10vh {
    min-height: 10vh;
}

.min-height-20vh {
    min-height: 20vh;
}

.min-height-30vh {
    min-height: 30vh;
}

.height-fit-content {
    height: fit-content;
}

.width-25 {
    width: 25%;
}

.width-100 {
    width: 100%;
}

.width-fit-content {
    width: fit-content;
}

.flex-column {
    flex-direction: column;
}

.index-page {
    flex-direction: row;
    justify-content: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.align-items-center {
    align-items: center;
}

.text-align-center {
    text-align: center;
}

.justify-content-center {
    justify-content: center;
}

.padding-1rem {
    padding: 1rem !important;
}

.margin-auto {
    margin: auto;
}

.margin-1rem {
    margin: 1rem !important;
}

.margin-1vw {
    margin: 1vw;
}

.margin-bottom-1rem {
    margin-bottom: 1rem;
}

.background-grey {
    background: lightgrey;
}

.cursor-default {
 cursor: default;
}

.display-flex {
    display: flex;
    align-items: center;
}

.mobile-display-none {
    display: flex;
}

.hidden {
    display: none;
}

.show {
    display: block !important;
}

a .color-black {
    color: black;
}

footer ul {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100vw;
    min-height: var(--footer-height);
    bottom: 0;
    background: var(--site-bg-color);
}

footer li {
    color: var(--main-txt-color);
    font-size: 0.8rem;
    margin: 1vw;
}

/* Beginning of IMDB handling */

.rating {
    margin: 0;
    font-size: 1.5rem;
}

.ofTen {
    margin: 0;
    font-size: 1rem;
}

/* End of IMDB handling */

/* Beginning of favorite handling */

.favorite-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin:0 auto;
}

.favorite {
  cursor:pointer;
  padding: 1rem 1rem 0.6rem;
  background:#fff;
  border-radius:50%;
  display:inline-block;
  margin:0 0 15px;
}

.favorite-svg-heart {
    width: 1vw;
}

.favorite-svg-heart path {
    stroke: white;
    stroke-width: 0;
    fill: lightgrey;
    z-index: 1;
}

.favorite-svg-heart:hover path {
    fill: #e23b3b;
}

.press path {
  fill: #e23b3b;
}

/* End of favorite handling */

/* Beginning of bell handling */

.deal {
  cursor:pointer;
  position: absolute;
  top: 0;
  left: 0;
  padding:6px 10px 6px;
  background:#fff;
  border-radius:50%;
}

.deal:before {
    content: "🔔";
}

/* End of bell handling */

/* Beginning of LoadMore handling */

#loadMore {
  width: 200px;
  color: #fff;
  display: block;
  text-align: center;
  margin: 20px auto;
  padding: 10px;
  border-radius: 10px;
  background: var(--site-bg-color);
}

.loadLess {
  background: indianred !important;
}

/* End of LoadMore handling */

/* backToTop button handling */

#backToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 4rem;
  height: 4rem;
  background-color: var(--element-bg-color);
  border-radius: 50%;
  border: 0;
  outline: 0;
  font-size: 0.8rem;
  cursor: pointer;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

#backToTop svg {
  background-color: var(--element-bg-color);
  width: 38px;
  height: 38px;
}

path {
    stroke: var(--site-bg-color);
    stroke-width: 6;
    stroke-linejoin: round;
    fill: none;
}

path.search {
    stroke: white;
    stroke-width: 2;
    stroke-linejoin: round;
    stroke-linecap: round;
    fill: none;
}


/* End of backToTop button handling */

/* Beginning of the modal handling */

#modal {
    display: flex;
    width: fit-content;
    height: fit-content;
    max-width: 25%;
    justify-content: center;
    text-align: center;
    padding: 2rem;
    position: fixed;
    margin: auto;
    top: 35%;
    visibility: visible;
    z-index: 2;
    cursor: pointer;
}

#close-modal {
    right: 0;
    top: 36px;
    position: absolute;
    transform: translate(-50%, -50%);
    padding: 0.5rem;
    background: var(--modal-bg-color);
    border-radius: 50%;"
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 25%;
  min-height: 25%;
  width: fit-content;
  height: fit-content;
  margin: auto;
  padding: 1.5rem;
  font-size: 2rem;
  color: rgba(255,255,255,1);
  background: var(--modal-bg-color);
}

.modal-content path{
    stroke-width: 10;
    stroke: white;
}

/* End of the modal handling */

/* Start of responsive handling */

@media (max-width: 1540px) {

    main {
        margin-top: calc(var(--burger-line-height) * 14);
    }

    .nav-nav {
        flex-direction: column;
    }

    .nav-burger-and-searchbar {
        position: fixed;
        left: 0;
        top: 0;
        width: 100vw;
        background: var(--site-bg-color);
        z-index: 1;
    }

    .nav-title {
        display: none;
    }

    .nav-search-wrapper {
        min-width: 5vw;
        width: 90vw;
        align-items: center;
        margin: auto;
        padding: calc(var(--burger-line-height) * 2);
        z-index: 1;
    }

    .nav-burger {
        display: flex;
        flex-direction: column;
        padding: calc(var(--burger-line-height) * 2);
        background: var(--site-bg-color);
        z-index: 1;
    }

    .nav-home img {
        display: block;
    }

    input.nav-search-bar {
        min-width: 5vw;
        width: 60vw;
    }

    .nav-ul {
        flex-direction: column;
        text-align: right;
        position: fixed;
        left: 0;
        top: calc(var(--burger-line-height) * 14);
        width: 100vw;
        background: var(--site-bg-color);
        z-index: 2;
    }

    .nav-li {
        font-size: 1rem !important;
        padding: calc(var(--burger-line-height) * 2);
        display: none;
    }

}

@media (max-width: 1024px) {

    h1 {
        font-size: 8vw;
    }

    h2 {
        font-size: 1rem;
    }

    .search-wrapper input {
        min-width: 0;
    }

    .dashboard-wrapper {
        flex-direction: column;
    }

    .dashboard-block-element {
        width: 90vw;
    }

    .index-page {
        flex-direction: column;
        margin: auto;
        width: 90%;
    }

    .width-25 {
        width: 80vw;
    }

    .favorite-svg-heart {
        width: 2.5vw;
    }

    .mobile-display-none {
        display: none;
    }

}