{% load static %}

<section class="dashboard-block main-block-min-width">

    {% if people_deals %}
        <div class="dashboard-block-element min-height-30vh">
            <div class="dashboard-block-element-title">
                    <h2>BONS PLANS AVEC {{ people|upper }} ({{ people_deals|length }})</h2>
            </div>
        <div class="dashboard-block-element-content flex-wrap">
        {% for people_deal in people_deals %}
        <div class="capsule width-25">
            {% if people_deal.bluray.bluray_image %}
                <div class="capsule-image" style="background-image: url({{ people_deal.bluray.bluray_image.url }});">
            {% else %}
                <div class="capsule-image" style="background-image: url({% static 'img/nopic.jpg' %});">
            {% endif %}
                <a href="{{ people_deal.bluray.amazon_aff_link }}" target="_blank">
                    <p class="deal-price {% if people_deal.status != '1' %}inactif{% endif %}">
                    {{ people_deal.price }}€
                    </p>
                </a>
                </div>
                <div class="capsule-text">
                    <a href="{% url 'deals:deals_detail' pk=people_deal.pk %}">
                        <h2>{{ people_deal.bluray.movie }}</h2>
                    </a>
                </div>
        </div>
        {% endfor %}
        </div>
        </div>
        {% else %}
        <div class="dashboard-block-element min-height-30vh">
            <div class="capsule text-align-center margin-auto">
                <h2>Aucun bon plan avec {{ people }}.</h2>
            </div>
        </div>
        {% endif %}

    {% if people_movies %}
    <div class="dashboard-block-element min-height-30vh">
        <div class="dashboard-block-element-title">
            <h2>FILMS AVEC {{ people|upper }} ({{ people_movies|length }})</h2>
        </div>
        <div class="dashboard-block-element-content flex-wrap">
        {% for people_movie in people_movies %}
        <div class="capsule width-25 margin-bottom-1rem">
            {% if people_movie.movie_image %}
            <div class="capsule-image" style="background-image: url({{ people_movie.movie_image.url }});">
            {% else %}
            <div class="capsule-image" style="background-image: url({% static 'img/nopic.jpg' %});">
            {% endif %}
            {% if user.is_authenticated %}
                <div class="favorite-wrapper">
                    <i class="favorite {% if people_movie in user_favorite_movies %}press{% endif %}" onclick="favorite('people_movie_{{ people_movie.pk }}',{{ people_movie.pk }}, 'movie')" id="people_movie_{{ people_movie.pk }}"></i>
                </div>
            {% endif %}
            </div>
            <div class="capsule-text">
                <h2><a href="{% url 'movies:movies_detail' slug=people_movie.slug pk=people_movie.pk %}">{{ people_movie.title_vf }}</a></h2>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="dashboard-block-element min-height-30vh">
        <div class="capsule text-align-center margin-auto">
            <h2>Aucun film avec {{ people }}.</h2>
        </div>
    </div>
    {% endif %}

    {% if people_blurays %}
    <div class="dashboard-block-element min-height-30vh">
        <div class="dashboard-block-element-title">
            <h2>BLU-RAYS AVEC {{ people|upper }} ({{ people_blurays|length }})</h2>
        </div>
        <div class="dashboard-block-element-content flex-wrap">
        {% for people_bluray in people_blurays %}
        <div class="capsule width-25 margin-bottom-1rem">
            {% if people_bluray.bluray_image %}
            <div class="capsule-image" style="background-image: url({{ people_bluray.bluray_image.url }});">
            {% else %}
            <div class="capsule-image" style="background-image: url({% static 'img/nopic.jpg' %});">
            {% endif %}
            {% if user.is_authenticated %}
                <div class="favorite-wrapper">
                    <i class="favorite {% if people_bluray in user_favorite_blurays %}press{% endif %}" onclick="favorite('people_bluray_{{ people_bluray.pk }}',{{ people_bluray.pk }}, 'bluray')" id="people_bluray_{{ people_bluray.pk }}"></i>
                </div>
            {% endif %}
            </div>
            <div class="capsule-text">
                <a href="{% url 'blurays:blurays_detail' slug=people_bluray.slug pk=people_bluray.pk %}">
                    {% if people_bluray.title %}
                        <h2>{{ people_bluray }}</h2>
                    {% else %}
                        <h2>{{ people_bluray.movie }}</h2>
                    {% endif %}
                </a>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="dashboard-block-element min-height-30vh">
        <div class="capsule text-align-center margin-auto">
            <h2>Aucun blu-ray avec {{ people }}.</h2>
        </div>
    </div>
    {% endif %}
</section>