{% load static %}

<section class="dashboard-block main-block-min-width">

    <div class="dashboard-block-element min-height-30vh">
        <div class="dashboard-block-element-title">
            {% if bluray.title %}
            <h2>BLU-RAY : {{ bluray.title|upper|truncatechars:80 }}</h2>
            {% else %}
            <h2>BLU-RAY : {{ bluray.movie|upper|truncatechars:80 }}</h2>
            {% endif %}
        </div>
        <div class="dashboard-block-element-content flex-wrap">
        <div class="capsule width-25">
            {% if bluray.bluray_image %}
                <div class="capsule-image" style="background-image: url({{ bluray.bluray_image.url }});">
            {% else %}
                <div class="capsule-image" style="background-image: url({% static 'img/nopic.jpg' %});">
            {% endif %}
            {% if user.is_authenticated %}
                <div class="favorite-wrapper">
                    <div class="favorite" onclick="favorite('bluray_{{ bluray.pk }}',{{ bluray.pk }}, 'bluray')" id="bluray_{{ bluray.pk }}">
                        <svg class="favorite-svg-heart {% if bluray in user_favorite_blurays %}press{% endif %}" viewBox="0 0 24 24">
                          <path id="heart" d="M12 4.435c-1.989-5.399-12-4.597-12 3.568 0 4.068 3.06 9.481 12 14.997 8.94-5.516 12-10.929 12-14.997 0-8.118-10-8.999-12-3.568z" />
                        </svg>
                    </div>
                </div>
            {% endif %}
            </div>
            <div class="capsule-text">
                    {% if bluray.title %}
                        <h2>{{ bluray.title|truncatechars:40 }}</h2>
                    {% else %}
                        <h2>{{ bluray.movie|truncatechars:40 }}</h2>
                    {% endif %}
                    {% if bluray.uhd %}
                        <p><img src="{% static 'img/logo-4k.png' %}" alt="Logo Blu-Ray 4K" width="100px"></p>
                    {% endif %}
                {% if bluray.release_date %}
                <p>Sortie: {{ bluray.release_date|date:"d/m/Y" }}</p>
                {% endif %}
                <p><a href="{{ bluray.amazon_aff_link }}" target=_blank">Acheter sur Amazon</a></p>
            </div>
        </div>
        </div>
    </div>

    <div class="dashboard-block-element min-height-30vh">
        {% if bluray_deals %}
        <div class="dashboard-block-element-title">
            <h2>BONS PLANS SUR CE BLU-RAY</h2>
        </div>
        <div class="dashboard-block-element-content flex-wrap">
        {% for bluray_deal in bluray_deals %}
        <div class="capsule width-25 margin-bottom-1rem">
            {% if bluray_deal.bluray.bluray_image %}
                <div class="capsule-image" style="background-image: url({{ bluray_deal.bluray.bluray_image.url }});">
            {% else %}
                <div class="capsule-image" style="background-image: url({% static 'img/nopic.jpg' %});">
            {% endif %}
                <a href="{{ bluray_deal.bluray.amazon_aff_link }}" target="_blank">
                    <p class="deal-price {% if bluray_deal.status != '1' %}inactif{% endif %}">
                    {{ bluray_deal.price }}€
                    </p>
                </a>
            </div>
            <div class="capsule-text">
                <a href="{% url 'deals:deals_detail' pk=bluray_deal.pk %}">
                <h2>{{ bluray_deal.bluray|truncatechars:40 }}</h2>
                </a>
                <p>Deal du {{ bluray_deal.start_date }}</p>
            </div>
        </div>
        {% endfor %}
        </div>
        {% else %}
        <div class="capsule justify-content-center margin-auto">
            <h2>Aucun bon plan n'a été partagé pour ce blu-ray.</h2>
        </div>
        {% endif %}
    </div>

</section>