{% load static %}

<div class="dashboard-block-element min-height-30vh">
    {% if user_favorite_blurays %}
    <div class="dashboard-block-element-title">
        <h2 class="padding-1rem">VOS BLU-RAYS PREFERES ({{ user_favorite_blurays|length }})</h2>
    </div>
    <div class="dashboard-block-element-content flex-wrap">
    {% for favorite_bluray in user_favorite_blurays %}
    <div class="capsule width-25 margin-bottom-1rem">
            {% if favorite_bluray.bluray_image %}
                <div class="capsule-image" style="background-image: url({{ favorite_bluray.bluray_image.url }});">
                {% else %}
                <div class="capsule-image" style="background-image: url({% static 'img/nopic.jpg' %});">
            {% endif %}
            {% if user.is_authenticated %}
                <div class="favorite-wrapper">
                    <div class="favorite" onclick="favorite('favorite_bluray_{{ favorite_bluray.pk }}',{{ favorite_bluray.pk }}, 'bluray')" id="favorite_bluray_{{ favorite_bluray.pk }}">
                        <svg class="favorite-svg-heart {% if favorite_bluray in user_favorite_blurays %}press{% endif %}" viewBox="0 0 24 24">
                          <path id="heart" d="M12 4.435c-1.989-5.399-12-4.597-12 3.568 0 4.068 3.06 9.481 12 14.997 8.94-5.516 12-10.929 12-14.997 0-8.118-10-8.999-12-3.568z" />
                        </svg>
                    </div>
                </div>
            {% endif %}
            </div>
            <div class="capsule-text">
                <a href="{% url 'blurays:blurays_detail' slug=favorite_bluray.slug pk=favorite_bluray.pk %}">
                {% if favorite_bluray.title %}
                    <h2>{{ favorite_bluray.title|truncatechars:30 }}</h2>
                {% else %}
                    <h2>{{ favorite_bluray.movie|truncatechars:30 }}</h2>
                {% endif %}
                </a>
                {% if favorite_bluray.uhd %}
                <p><img src="{% static 'img/logo-4k.png' %}" alt="Logo Blu-Ray 4K" width="100px"></p>
                {% endif %}
                {% if favorite_bluray.release_date %}
                <p>Sortie: {{ favorite_bluray.release_date|date:"d/m/Y" }}</p>
                {% endif %}
                <p><a href="{{ favorite_bluray.amazon_aff_link }}" target=_blank">Acheter sur Amazon</a></p>
            </div>
    </div>
    {% endfor %}
    </div>
    {% else %}
        <div class="capsule justify-content-center margin-auto flex-wrap">
            {% if user.is_authenticated %}
                <h2 class="margin-1rem text-align-center">Vous n'avez aucun blu-ray dans vos favoris.</h2>
            {% else %}
                <h2 class="margin-1rem text-align-center">Connectez-vous pour marquer des blu-rays comme favoris.</h2>
            {% endif %}
        </div>
    {% endif %}
</div>