{% load static %}

<div class="dashboard-block-element min-height-30vh">
    {% if user_favorite_blurays %}
    <div class="dashboard-block-element-title">
        <h2>VOS BLU-RAYS PREFERES ({{ user_favorite_blurays|length }})</h2>
    </div>
    <div class="dashboard-block-element-content flex-wrap">
    {% for favorite_bluray in user_favorite_blurays %}
    <div class="capsule width-25 margin-bottom-1rem">
            {% if favorite_bluray.bluray_image %}
                <div class="capsule-image" style="background-image: url({{ favorite_bluray.bluray_image.url }});">
                {% else %}
                <div class="capsule-image" style="background-image: url({% static 'img/nopic.jpg' %});">
            {% endif %}
            <div class="favorite-wrapper">
                <i class="favorite {% if favorite_bluray in user_favorite_blurays %}press{% endif %}" onclick="favorite('favorite_bluray_{{ favorite_bluray.pk }}',{{ favorite_bluray.pk }}, 'bluray')" id="favorite_bluray_{{ favorite_bluray.pk }}"></i>
            </div>
            </div>
            <div class="capsule-text">
                <a href="{% url 'blurays:blurays_detail' slug=favorite_bluray.slug pk=favorite_bluray.pk %}">
                {% if favorite_bluray.title %}
                    <h2>{{ favorite_bluray.title|truncatechars:18 }}</h2>
                {% else %}
                    <h2>{{ favorite_bluray.movie|truncatechars:18 }}</h2>
                {% endif %}
                </a>
                {% if favorite_bluray.uhd %}
                <p><img src="{% static 'img/logo-4k.png' %}" alt="Logo Blu-Ray 4K" width="100px"></p>
                {% endif %}
                {% if favorite_bluray.release_date %}
                <p>Sortie: {{ favorite_bluray.release_date|date:"d/m/Y" }}</p>
                {% endif %}
                <p><a href="{{ favorite_bluray.amazon_aff_link }}" target=_blank">Acheter sur Amazon</a></p>
            </div>
    </div>
    {% endfor %}
    </div>
    {% else %}
        <div class="capsule justify-content-center margin-auto flex-wrap">
            {% if user.is_authenticated %}
                <h2 class="margin-1rem">Vous n'avez aucun blu-ray dans vos favoris.</h2>
            {% else %}
                <h2>Identifiez-vous pour marquer des blu-rays comme favoris.</h2>
            {% endif %}
        </div>
    {% endif %}
</div>