{% load static %}

<div class="dashboard-block-element min-height-20vh padding-1rem">
    {% if latest_blurays %}
    <h2>Dernière sortie</h2>
    <p>{% with latest_blurays|first as latest_bluray %}{{ latest_bluray.release_date|date:"d F Y"|title }}</p>
    <div class="capsule">
                {% if latest_bluray.bluray_image %}
                <div class="capsule-image" style="background-image: url({{ latest_bluray.bluray_image.url }});">
                {% else %}
                <div class="capsule-image" style="background-image: url({% static 'img/nopic.jpg' %});">
                {% endif %}
                </div>
                <div class="capsule-text">
                    {% if latest_bluray.slug %}
                    <a href="{% url 'blurays:blurays_detail' slug=latest_bluray.slug pk=latest_bluray.pk %}">
                    {% if latest_bluray.title %}
                        <h2>{{ latest_bluray.title }}</h2>
                    {% else %}
                        <h2>{{ latest_bluray.movie }}</h2>
                    {% endif %}
                    </a>
                    {% else %}
                        {% if latest_bluray.title %}
                            <h2>{{ latest_bluray.title }}</h2>
                        {% else %}
                            <h2>{{ latest_bluray.movie }}</h2>
                        {% endif %}
                    {% endif %}
                    {% if latest_bluray.uhd %}
                        <p><img src="{% static 'img/logo-4k.png' %}" alt="Logo Blu-Ray 4K" width="100px"></p>
                    {% endif %}
                    <p>Un film de {% for director in latest_bluray.movie.directors %}
                        {% if director.slug %}
                        <a href="{% url 'people:people_detail' slug=director.slug pk=director.pk %}">
                            {{ director }}
                        </a>
                        {% else %}
                            {{ director }}
                        {% endif %}
                        {% endfor %}
                    </p>
                    <p>Avec {% for actor in latest_bluray.movie.actors %}
                        {% if actor.slug %}
                        <a href="{% url 'people:people_detail' slug=actor.slug pk=actor.pk %}">
                            {{ actor }}
                        </a>
                        {% else %}
                            {{ actor }}
                        {% endif %}
                        {% endfor %}
                    </p>
                </div>{% endwith %}
            </div>
    {% else %}
        <p>Il n'y a actuellement aucun blu-ray dans notre base de données.</p>
    {% endif %}
</div>
