{% load static %}

<section class="dashboard-block side-block-min-width">
    <div class="dashboard-block-element min-height-20vh">
        <div class="dashboard-block-element-title">
            <h2>TOP 5</h2>
        </div>
        <div class="dashboard-block-element-content flex-column">
        {% for bluray in top_blurays %}
        <div class="capsule align-items-center flex-column width-100">
            {% if bluray.blu_ray_image %}
            <div class="capsule-image" style="background-image: url({{ bluray.blu_ray_image.url }});">
            {% else %}
            <div class="capsule-image" style="background-image: url({% static 'img/nopic.jpg' %});">
            {% endif %}
                <div class="favorite-wrapper">
                    <i class="favorite {% if bluray in favorite_blurays %}press{% endif %}" onclick="favorite('top_bluray_{{ bluray.pk }}')" id="top_bluray_{{ bluray.pk }}"></i>
                </div>
            </div>
            <div class="capsule-text text-align-center">
                <a href="{% url 'blurays:blurays_detail' slug=bluray.slug pk=bluray.pk %}">
                    <h2>{{ bluray.movie }}</h2>
                </a>
                {% with total=bluray.num_favorites %}
                    ♥ par {{ total }} membre{{total|pluralize}}
                {% endwith %}
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
</section>