{% load static %}

<div class="dashboard-block-element min-height-20vh padding-1rem">
    <h2>Prochaine sortie</h2>
    <p>{% with next_blurays|first as next_bluray %}{{ next_bluray.release_date|date:"d F Y"|title }}</p>
    <div class="capsule">
                {% if next_bluray.bluray_image %}
                <div class="capsule-image" style="background-image: url({{ next_bluray.bluray_image.url }});">
                {% else %}
                <div class="capsule-image" style="background-image: url({% static 'img/nopic.jpg' %});">
                {% endif %}
                </div>
                <div class="capsule-text">
                    {% if next_bluray.slug %}
                    <a href="{% url 'blurays:blurays_detail' slug=next_bluray.slug pk=next_bluray.pk %}">
                    {% if next_bluray.title %}
                        <h2>{{ next_bluray.title }}</h2>
                    {% else %}
                        <h2>{{ next_bluray.movie }}</h2>
                    {% endif %}
                    </a>
                    {% else %}
                        {% if next_bluray.title %}
                            <h2>{{ next_bluray.title }}</h2>
                        {% else %}
                            <h2>{{ next_bluray.movie }}</h2>
                        {% endif %}
                    {% endif %}
                    {% if next_bluray.uhd %}
                        <p><img src="{% static 'img/logo-4k.png' %}" alt="Logo Blu-Ray 4K" width="100px"></p>
                    {% endif %}
                    <p>Un film de {% for director in next_bluray.movie.directors %}
                        {% if director.slug %}
                        <a href="{% url 'people:people_detail' slug=director.slug pk=director.pk %}">
                            {{ director }}
                        </a>
                        {% else %}
                            {{ director }}
                        {% endif %}
                        {% endfor %}
                    </p>
                    <p>Avec {% for actor in next_bluray.movie.actors %}
                        {% if actor.slug %}
                        <a href="{% url 'people:people_detail' slug=actor.slug pk=actor.pk %}">
                            {{ actor }}
                        </a>
                        {% else %}
                            {{ actor }}
                        {% endif %}
                        {% endfor %}
                    </p>
                </div>{% endwith %}
            </div>
</div>
