{% load static %}

<div class="dashboard-block-element min-height-30vh">
    {% if user_recommended_blurays %}
    <div class="dashboard-block-element-title">
        <h2>NOS RECOMMANDATIONS DE BLU-RAYS ({{ user_recommended_blurays|length }})</h2>
    </div>
    <div class="dashboard-block-element-content flex-wrap">
    {% for user_recommended_bluray in user_recommended_blurays %}
    <div class="capsule width-25 margin-bottom-1rem">
            {% if user_recommended_bluray.bluray_image %}
                <div class="capsule-image" style="background-image: url({{ user_recommended_bluray.bluray_image.url }});">
                {% else %}
                <div class="capsule-image" style="background-image: url({% static 'img/nopic.jpg' %});">
            {% endif %}
            {% if user.is_authenticated %}
                <div class="favorite-wrapper">
                    <i class="favorite {% if user_recommended_bluray in user_favorite_blurays %}press{% endif %}" onclick="favorite('user_recommended_bluray_{{ user_recommended_bluray.pk }}',{{ user_recommended_bluray.pk }}, 'bluray')" id="user_recommended_bluray_{{ user_recommended_bluray.pk }}"></i>
                </div>
            {% endif %}
            </div>
            <div class="capsule-text">
                <a href="{% url 'blurays:blurays_detail' slug=user_recommended_bluray.slug pk=user_recommended_bluray.pk %}">
                {% if user_recommended_bluray.title %}
                    <h2>{{ user_recommended_bluray.title|truncatechars:18 }}</h2>
                {% else %}
                    <h2>{{ user_recommended_bluray.movie|truncatechars:18 }}</h2>
                {% endif %}
                </a>
                {% if user_recommended_bluray.uhd %}
                <p><img src="{% static 'img/logo-4k.png' %}" alt="Logo Blu-Ray 4K" width="100px"></p>
                {% endif %}
                {% if user_recommended_bluray.release_date %}
                <p>Sortie: {{ user_recommended_bluray.release_date|date:"d/m/Y" }}</p>
                {% endif %}
                <p><a href="{{ user_recommended_bluray.amazon_aff_link }}" target=_blank">Acheter sur Amazon</a></p>
            </div>
    </div>
    {% endfor %}
    </div>
    {% else %}
            <div class="capsule justify-content-center margin-auto flex-wrap">
                {% if user.is_authenticated %}
                    <h2 class="margin-1rem">Nous n'avons aucune recommandation de blu-ray pour vous.</h2>
                    <br>
                    <h2 class="margin-1rem">Pensez à ajouter des films ou des personnalités à vos favoris.</h2>
                {% else %}
                    <h2>Identifiez-vous pour bénéficier de recommandations de blu-rays.</h2>
                {% endif %}
            </div>
    {% endif %}
</div>