{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js" defer></script>

    {% block title %}
    <title>Bloodeal</title>
    {% endblock %}

</head>

<body>

    <header>
        {% if request.user.is_authenticated %}
            <nav>
                <span><a href="{% url 'accounts:dashboard' %}">BL💿💿DEAL</a></span>
                <ul class="nav">
                    <li><a href="{% url 'deals:deals_list' %}">BONS PLANS</a></li>
                    <li><a href="{% url 'blurays:blurays_list' %}">BLU-RAYS</a></li>
                    <li><a href="{% url 'movies:movies_list' %}">FILMS</a></li>
                    <li><a href="{% url 'profiles:favorites_list' %}">FAVORIS</a></li>
                    <li style="position: relative;"><a href="{% url 'user_requests:user_requests' pk=request.user.pk %}">VOS DEMANDES</a>
                    {% if user_requests_total %}<span class="notification">{{ user_requests_total }}</span>{% endif %}</li>
                    <li><a href="{% url 'profiles:profile_update' %}">PROFIL</a></li>
                    <li><a href="{% url 'accounts:logout' %}">SE DECONNECTER</a></li>
                </ul>
            </nav>

        {% endif %}
    </header>

    <main>
        <div class="dashboard-wrapper">

            {% block left-block %}
            <section class="dashboard-block side-block-min-width">
                <div class="dashboard-block-element min-height-20vh"></div>
                <div class="dashboard-block-element min-height-20vh"></div>
                <div class="dashboard-block-element min-height-20vh"></div>
                <div class="dashboard-block-element min-height-20vh"></div>
            </section>
            {% endblock %}

            {% block content %}
            <section class="dashboard-block main-block-min-width">
                <div class="dashboard-block-element min-height-30vh"></div>
                <div class="dashboard-block-element min-height-30vh"></div>
                <div class="dashboard-block-element min-height-30vh"></div>
                <div class="dashboard-block-element min-height-30vh"></div>
            </section>
            {% endblock %}

            {% block right-block %}
            <section class="dashboard-block side-block-min-width">
                <div class="dashboard-block-element min-height-20vh"></div>
                <div class="dashboard-block-element min-height-20vh"></div>
                <div class="dashboard-block-element min-height-20vh"></div>
                <div class="dashboard-block-element min-height-20vh"></div>
            </section>
            {% endblock %}

        </div>
    </main>

    <footer>
        &copy; {% now "Y" %} Bloodeal
        <button onclick="backToTopFunction()" id="backToTop" title="Go back to top">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 38 38">
        <path d="m 4 30 l 16 -20 l 16 20" />
        </svg>
        </button>
    </footer>

</body>

</html>